@page
@model IndexModel
@{ ViewData["Title"] = "Home page"; }

<div class="text-center">
    <h1 class="display-4 text-white">BlackJack</h1>
    <p class="text-white"> Welcome ... play at your own risk >:)<p>
</div>
